<div class="home-mein-wrapper">
<div class="container">
    ユーザー名:<p><%= current_user.name %></p>
    <div class="page-title">
        <h1>
            <script>
                var today=new Date(); 
            
            //年・月・日・曜日を取得
            var year = today.getFullYear();
            var month = today.getMonth()+1;
            var week = today.getDay();
            var day = today.getDate();
            
            var week_ja= new Array("(日)","(月)","（火）","(水)","(木)","(金)","(土)");
            
            //年・月・日・曜日を書き出す
            document.write(year+"年"+month+"月"+day+"日 "+week_ja[week]+"");
            </script>
        </h1>
    </div>
    <ul class="home-btn-wrapper">
        <%= link_to "新規投稿", new_post_path, class: "home-btn" %>
        <%= link_to "リスト一覧", posts_path, class: "home-btn" %>
        <%= link_to "ユーザー情報", user_path, class: "home-btn" %>
        <%= link_to t("ログアウト"), logout_path, data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてよろしいですか？'}, class: "home-btn" %>
    </ul>
</div>