<!DOCTYPE html>
<html>
  <head>
    <title>Todolist1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="container">
        <div class="header-left">
            <h2>ToDoリスト</h2>
        </div>
        <div class="header-right">
            <a href="#">ホーム</a>
            <a href="#">リスト一覧</a>
            <%= link_to "新規登録", new_user_path %>
            <%= link_to "ログイン", login_path %>
            <%= link_to "ログアウト", logout_path, method: :delete %>
        </div>
    </div>
  </header>

  <%= notice %>
  <%= alert %>

    <%= yield %>

<footer>
    <div class="container">
         <h2>todolist</h2>
    </div>
  </footer>
  </body>
</html>
