<!DOCTYPE html>
<html>
  <head>
    <title>Todolist1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="container">
        <div class="header-left">
            <h2>ToDoリスト</h2>
        </div>
        <div class="header-right">
            <% if current_user.nil? %>
             <%= link_to "トップ", root_path %>
             <%= link_to "新規登録", new_user_path %>
             <%= link_to "ログイン", login_path %>
            <% else %>
              <%= link_to "ホーム", home_path %>
              <%= link_to "リスト一覧", posts_path %>
              <%= link_to t("ログアウト"), logout_path, method: :get, data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてよろしいですか？'} %>
            <% end %>
        </div>
    </div>
  </header>
 
 <div class="messege">
  <%= notice  %>
 </div>
  <%= alert %>
    <%= yield %>

<footer>
    <div class="container">
         <h2>todolist</h2>
    </div>
  </footer>
  </body>
</html>
